input[type="file"]::file-selector-button {
  /* background: linear-gradient(135deg, #34d399, #059669);
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(5, 150, 105, 0.2); */

  display: inline-flex;
  align-items: center;
  gap: 8px;
  /* background: linear-gradient(135deg, #34d399, #059669); */
  background-color: #f4f6f9;
  color: rgb(1, 1, 1);
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  /* border-bottom: #080808; */
  border-left: black;
  border-right: black;
  border-top: black;
}
